/sdk
/.env
/**/node_modules
/**/.pnpm-store/**
/website/.astro/
/website/dist/
/website/public/schemas/
/website/src/content/docs/docs/
/website-docusaurus/.docusaurus/
/website-docusaurus/build/
/website-docusaurus/docs/
/website-docusaurus/static/schemas/
/website-docusaurus/versioned_docs/
/website-docusaurus/versioned_sidebars/
/website-docusaurus/versions.json
/**/node_modules/**
